body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(37, 68, 109);
    background-image: ;
}

.jumbotron {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 16px;
    border-style: groove;
    border-width: 16px;
    border-color: turquoise;
}

.carousel {
    margin: 16px;
    border-style: groove;
    border-width: 16px;
    border-color: navy;
}

.form-group1 {
    margin: 10px;
    border-style: groove;
    border-width: 8px;
    border-color: red;
}

.form-control1 {
    margin: 10px;
    border-style: groove;
    border-width: 4px;
    border-color: blue;
}

.form-group2 {
    margin: 10px;
    border-style: groove;
    border-width: 8px;
    border-color: red;

}

.form-control2 {
    margin: 10px;
    border-style: groove;
    border-width: 4px;
    border-color: blue;

}

.card {
    margin: auto;
    margin-top: 16px;
    padding: 5px;
    border-style: groove;
    border-width: 20px;
    border-color: darkcyan;
    float: left -100px;
    clear: both;
}

footer {
    font-size: small;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgray;
}

.emailadd {
    margin: 4px;
    border-style: groove;
    border-width: 4px;
    border-color: cyan;
    background-color: darkgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.comment {
    margin: 4px;
    border-style: groove;
    border-width: 4px;
    border-color: cyan;
    background-color: darkgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: -40px;
    right: -7px;
}

.submitbutton1 {
    color: rgb(251, 255, 0);
    position: relative;
    right: -40px;
    background-color: dodgerblue;
}