body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(37, 68, 109);
}

.jumbotron {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    margin-top: 16px;
    border-style: groove;
    border-width: 20px;
    border-color: darkcyan;
    border-radius: 8px;
    align-content: center;
    color: aliceblue;
    clear: both;
    background-color: darkslategrey;
}

.carousel {
    margin: 16px;
    border-style: groove;
    border-width: 16px;
    border-color: navy;
    border-radius: 8px;
}

.form-group1 {
    margin: 20px;
    text-align: center;
    border: navy;
    border-style: groove;
    border-width: 16px;
    border-radius: 8px;
    align-content: center;
    margin-left: 25%;
}

.form-control1 {
    height: 150px;
    width: 350px;
}

.card-about,
.card-contact {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    margin-top: 16px;
    padding: 5px;
    border-style: groove;
    border-width: 20px;
    border-color: darkcyan;
    border-radius: 8px;
    align-content: center;
    color: aliceblue;
    background-color: darkslategrey;
}

footer {
    font-size: small;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgray;
}

#comment-line {
    font-size: 200%;
    margin: 20px;
    border-style: groove;
    border-width: 4px;
    border-color: cyan;
    border-radius: 8px;
    background-color: darkgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 45%;
}


.submitbutton1 {
    color: rgb(251, 255, 0);
    position: fixed;
    margin: 4px;
    text-align: center;
    background-color: dodgerblue;
    left: 45%;
}